services:
  postgres:
    container_name: postgres_container
    image: "postgres:18"
    env_file:
      - ./database.dev.env
    networks:
      - backend
    volumes:
      - ./db-data:/var/lib/postgresql/
    ports:
      - "5432:5432"
    restart: always
  pgadmin:
    container_name: pgadmin_container
    image: "dpage/pgadmin4:9.12"
    env_file:
      - ./database.dev.env
    ports:
      - "5050:80"
    networks:
      - backend
    restart: always
  keycloak:
    image: quay.io/keycloak/keycloak:26.5.3
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: arquitetura
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB_URL_HOST: postgres
      KC_DB_URL_PORT: 5432
      KC_DB: postgres
      KC_DB_USERNAME: arquitetura
      KC_DB_PASSWORD: admin
      KC_DB_SCHEMA: public
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HTTP_ENABLED: true
    command: start
    ports:
      - "8083:8080"
    depends_on:
      - postgres
    #volumes:
    #  - ./keycloak/themes:/opt/keycloak/themes
    networks:
      - backend
    restart: always
networks:
  backend:
    name: backend
    driver: bridge
